<div class="row">
  <div class="small-1 columns">
    <div class="answer-vote"></div>
  </div>

  <div class="answer-item small-11 columns">

    <div class="row">
      <div class="small-12 columns answer-body">
        <%= marked(answer.get('body') || '') %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <% if (answer.get('owned')) { %>
          <a class='answer-delete-link'>Delete</a>
          <strike><a class='answer-edit-link'>Edit</a></strike>
        <% } %>
      </div>
    </div>

    <div class="answerer-info small-4 columns right">
      <div class="row">

        <div class="small-4 columns image-container">
          <% if (answer.get('answerer_image_url')) { %>
            <img class='answerer-image' src="<%= answer.get('answerer_image_url') %>"/>
          <% } else { %>
            <img class='answerer-image' src="http://placehold.it/75x75"/>
          <% } %>
        </div>

        <div class="answerer-username small-8 columns left">
          <a class="user-info" href="#users/<%= answer.escape('answerer_id') %>">
          <%= answer.escape('answerer_username') %></a>
          <p class='timestamp'>answered <%= answer.escape('answered_at') %> ago</p>
        </div>

      </div>
    </div>

    <div class="answer-comments small-12 columns"></div>

    <a class='show-answer-comment-form'>Add a comment</a>

    <% if (answer.get('question_owned')) { %>
      <!-- owner options -->
      <% if (answer.get('best')) { %>
        <a class='best-answer'></a>
      <% } else { %>
        <a class="mark-best-link">Mark as best</a>
      <% } %>

    <% } else { %>
      <!-- public view -->
      <% if (answer.get('best')) { %>
        <a class='best-answer'></a>
      <% } %>

    <% } %>
    <div class="new-answer-comment hide"></div>
  <hr>
  </div>
</div>
