<hr>
<div class="row user-page-info">
  <div class="small-4 columns text-center">
    <img src="http://placehold.it/200x200" class="profile-image">
  </div>

  <div class="small-8 columns">
    <div class="row">
      <h2 class='username'><%= user.escape('username') %></h2>
    </div>

    <div class="user-stats">
      <div class="row">
        <div class='user-question-points'>Question Score: <%= user.escape('question_points') %></div>
        <div class='user-answer-points'>Answer Score: <%= user.escape('answer_points') %></div>
      </div>
      <div class="row">
        <p class='user-badge-number'>Number of Badges: <%= user.escape('badges') %></p>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <hr>
  <ul class='inline-list earned-user-badges'>
    <% user.earned_badges().each(function (badge) { %>
      <li><img src="<%= badge.escape('image_url') %>"></li>
    <% }); %>
    <!-- <li><img src="http://placehold.it/90x90"></li>
    <li><img src="http://placehold.it/90x90"></li>
    <li><img src="http://placehold.it/90x90"></li>
    <li><img src="http://placehold.it/90x90"></li>
    <li><img src="http://placehold.it/90x90"></li> -->
  </ul>
</div>

<div class="row">
  <hr>
  <div class="asked-questions"></div>
</div>
