<div class="row top-space">

  <div class="small-1 columns">
    <div class="question-vote"></div>
  </div>

  <div class="small-11 columns">
    <div class="question-details">
      <h4><%= question.escape('title') %></h4>
      <hr>

      <div class="description">
        <!-- refactor to use escape && still allow markdown -->
        <p><%= marked(question.get('description')) %></p>
      </div>

      <div class="tags">
        <% tags.each(function (tag) { %>
          <a class='tag' href='#tags/<%= tag.escape('id') %>'><%= tag.escape('name') %></a>
        <% }) %>
      </div>


      <hr>
      <div class="question-comments"></div>

      <a class='show-comment-form'>Add a comment</a>
      <div class="new-question-comment hide"></div>

      <% var numQuestions = question.answers().length %>
        <h4 class><u><%= numQuestions %> <%= pluralize('Answer', numQuestions) %></u></h4>
    </div>
  </div>
</div>

<div class="answers"></div>

<div class="row">
  <div class="small-11 columns small-offset-1 columns">
    <h5>Your Answer</h5>
    <div class="answer-form"></div>
  </div>
</div>
