<div class="row top-space">

  <div class="small-1 columns">
    <div class="question-vote"></div>
  </div>

  <div class="small-11 columns">
    <div class="question-details">
      <h4><%= question.escape('title') %></h4>
      <hr>

      <div class="description">
        <p><%= marked(question.get('description') || '') %></p>
      </div>

      <!-- <div class="row"> -->
      <div class="small-7 columns">
        <div class="tags row">
          <% tags.each(function (tag) { %>
            <a class='tag' href='#tags/<%= tag.escape('id') %>'><%= tag.escape('name') %></a>
          <% }) %>
        </div>
      </div>

      <div class="asker-info small-4 columns right">
        <div class="row">

          <div class="small-4 columns">
            <img class='asker-image' src="http://placehold.it/75x75"/>
          </div>

          <div class="small-8 columns">
            <p class='timestamp'>asked <%= question.escape('asked_at') %> ago</p>
            <a class="user-info" href="#users/<%= question.escape('asker_id') %>">
            <%= question.get('asker').username %></a>
          </div>

        </div>
      </div>

      <div class="small-7 columns">
        <div class="owner-links row">
          <a class='share-link'>Share</a>
          <% if (question.get('owned')) { %>
            <a class='edit-link'>Edit</a>
            <a class='delete-link'>Delete</a>
          <% } %>
        </div>
      </div>

      <hr>
      <div class="question-comments"></div>

      <a class='show-comment-form'>Add a comment</a>
      <div class="new-question-comment hide"></div>

      <% var numQuestions = question.answers().length %>
        <h5 class='num-answers'><u><%= numQuestions %> <%= pluralize('Answer', numQuestions) %></u></h5>
    </div>
  </div>
</div>

<div class="answers"></div>

<div class="row">
  <div class="small-11 columns small-offset-1 columns">
    <h5>Your Answer</h5>
    <div class="answer-form"></div>
  </div>
</div>
