<div class="row top-space">

  <div class="small-1 columns">
    <div class="question-vote"></div>
  </div>

  <div class="small-11 columns">
    <div class="question-details">
      <h4><%= question.escape('title') %></h4>
      <hr>

      <div class="description">
        <p><%= marked(question.get('description') || '') %></p>
      </div>

      <!-- <div class="row"> -->
      <div class="small-7 columns">
        <div class="tags row">
          <% tags.each(function (tag) { %>
            <a class='tag' href='#tags/<%= tag.escape('id') %>'><%= tag.escape('name') %></a>
          <% }) %>
        </div>
      </div>

      <div class="asker-info small-5 columns right">
        <div class="row asker-info-row">

          <div class="small-4 columns asker-image-container">
            <% if (question.get('asker').image_url) { %>
              <img class='asker-image right' src="<%= question.get('asker').image_url %>"/>
            <% } else { %>
              <img class='asker-image right' src="http://placehold.it/75x75"/>
            <% } %>
          </div>

          <div class="small-8 columns timestamp-container left">
            <a class="user-info" href="#users/<%= question.escape('asker_id') %>">
            <%= question.get('asker').username %></a>
            <p class='timestamp'>asked <%= question.escape('asked_at') %> ago</p>
          </div>

        </div>
      </div>

      <div class="small-7 columns">
        <div class="owner-links row">
          <strike><a class='share-link'>Share</a></strike>
          <% if (question.get('owned')) { %>
            <a class='edit-link edit-question-form'>Edit</a>
            <a class='delete-link'>Delete</a>
          <% } %>
        </div>
      </div>

      <hr>
      <div class="question-comments"></div>

      <a class='show-comment-form'>Add a comment</a>
      <div class="new-question-comment hide"></div>

      <h5 class='num-answers'><%= answers.length %> <%= pluralize('Answer', answers.length) %></h5>
    </div>
  </div>
</div>

<div class="answers"></div>

<div id="reveal-edit-question-form" class="reveal-modal" data-reveal
  aria-labelledby="reveal-edit-question-form" aria-hidden="true" role="dialog">
</div>
