<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "queryBase" %></title>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV['CLOUD_NAME'] %>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      };
    </script>

    <% if (current_user) %>
      <script type="text/javascript">
        window.CURRENT_USER_ID = <%= current_user.id %>
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>

    <!-- Site Tour -->

    <ol class="joyride-list" data-joyride>

      <li data-id="question-search-box" data-text="Next" data-options="prev_button: false; tip_location: bottom">
        <p>Search for a question you had in mind...</p>
      </li>

      <li data-id="ask-question" data-text="Next" data-prev-text="Previous" data-options="prev_button: false; next_button: false;">
        <p>Or create your own!</p>
        <a href="#" class="small button joyride-prev-tip">Previous</a>
        <a href="#" class="move-to-tags small button joyride-next-tip">Next</a>
      </li>

      <li data-id="questions-index" data-text="Next" data-prev-text="Previous" data-options="tip_location: top">
        <p>Know something? Try your hand with these questions!</p>
      </li>

      <li data-button="End" data-prev-text="Prev" class='text-center'>
        <h3>fin.</h3>
        <h5>Ask, answer, earn.</h5>
        <div class="row">
          <small>Website created &amp; designed by</small>
        </div>
        <div class="row my-name">
          <small><a target="_blank" href="http://charleschanlee.me/">Charles Chan Lee</a></small><br>
        </div>

      </li>

    </ol>

  </body>


</html>
