<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "queryBase" %></title>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <!-- Site Tour -->

    <ol class="joyride-list" data-joyride>

      <li data-id="ask-question" data-text="Next" data-options="prev_button: false; tip_location: bottom">
        <p>Ask your own question</p>
      </li>

      <li data-id="question-search-box" data-text="Next" data-prev-text="Previous" data-options="prev_button: false; next_button: false;">
        <p>or search for a specific question you had in mind</p>
        <a href="#" class="small button joyride-prev-tip">Previous</a>
        <a href="#" class="move-to-tags small button joyride-next-tip">Next</a>
      </li>

      <li data-button="End" data-prev-text="Prev" class='text-center'>
        <h4>fin</h4>
        <p>Ask, answer, earn.</p>
      </li>

    </ol>

  </body>

  <% if (current_user) %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>
    </script>
  <% end %>
</html>
